@import url("../fonts/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  font-family: 'TT Lakes';
}

body {
  height: 100vh;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  visibility: hidden;
}

.comments {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  margin-left: 32px;
  margin-top: 15px;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 18px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header div:not(:last-child) {
  margin-right: 15px;
}

.header :not(:last-child) {
  margin-right: 20px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right :not(:last-child) {
  margin-right: 20px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left :not(:last-child) {
  margin-right: 15px;
}

.header__call {
  display: none;
}

.header__chat {
  display: none;
}

.header__profile {
  display: none;
}

.header__border1 {
  display: none;
  border: 2px solid #EAEAEA;
  border-radius: 1px;
  height: 32px;
}

.header__border2 {
  border: 2px solid #EAEAEA;
  border-radius: 1px;
  height: 32px;
}

.servise {
  background-color: #F8F8F8;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #41F6D7;
}

.servise__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
}

.servise__title > div {
  border: 2px solid #41F6D7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 40px;
  margin-right: 12px;
}

.servise__title h1 {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.servise__wrapper {
  width: 100%;
  overflow-x: auto;
}

.servise__wrapper .shadow {
  position: absolute;
  height: 42px;
  width: 24px;
  right: 0%;
  top: 176px;
  background: -webkit-gradient(linear, right top, left top, color-stop(16.84%, #F8F8F8), to(rgba(248, 248, 248, 0.0001)));
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.servise ::-webkit-scrollbar {
  visibility: hidden;
}

.servise__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.servise__list li {
  display: inline;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  padding: 7px 16px;
}

.servise li[class='servise__link active'] {
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.section2 {
  display: none;
}

.main {
  height: 100%;
  background-color: #F8F8F8;
}

.main__p {
  margin: 0 16px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.main__dop-info {
  margin: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.main__dop-info ::before {
  margin-right: 8px;
  vertical-align: middle;
  content: url("./img/expand.svg");
}

.p2_desktop {
  display: none;
}

@media (min-width: 768px) {
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__right :not(:last-child) {
    margin-right: 20px;
  }
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__left :not(:last-child) {
    margin-right: 15px;
  }
  .header__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__chat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__border1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 2px solid #EAEAEA;
    border-radius: 1px;
    height: 32px;
  }
  .main {
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__text {
    width: 312px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
  }
  .main img {
    height: 307px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 360px;
    margin-left: auto;
    margin-right: 25px;
  }
}

@media (min-width: 980px) {
  .servise__wrapper {
    margin-right: 32px;
  }
  .servise__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__text {
    width: 430px;
  }
  .main img {
    width: 531px;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
  .main__text {
    width: 490px;
  }
  .main img {
    width: 531px;
  }
  .servise__wrapper {
    margin-right: 32px;
    overflow-x: hidden;
  }
  .servise__list {
    padding-right: 37px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .p2_desktop {
    display: inline;
  }
  .section1, header {
    display: none;
  }
  .section2 {
    display: block;
    border: none;
  }
  .servise__head {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .servise__head-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .servise__head-right div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 32px;
  }
  .servise__head-right div img {
    margin-left: 8px;
  }
}

.burger-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 320px;
  overflow-y: auto;
  -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
          box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.burger-menu__head {
  height: 80px;
  padding: 18px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-menu__head-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 78px;
}

.burger-menu__head-right div:not(:last-child) {
  margin-right: 16px;
}

.burger-menu__head-close:hover {
  opacity: 0.8;
}

.burger-menu__head-search:hover {
  opacity: 0.8;
}

.burger-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.burger-menu__list {
  margin-bottom: 268px;
}

.burger-menu__list li:not(:last-child) {
  margin-bottom: 32px;
}

.burger-menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger-menu__list > li:not(.active) {
  margin-left: 24px;
}

.burger-menu__foot {
  padding-left: 24px;
  padding-bottom: 32px;
}

.info-link:not(:last-child) {
  margin-bottom: 16px;
}

.info-link:last-child {
  margin-top: 40px;
}

.info-link > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-link > ul > :not(:last-child) {
  margin-right: 16px;
}

.info-link > ul > li > img:hover {
  opacity: 0.8;
}

.info-link > ul > li[class='active'] {
  color: #7E7E82;
}

.info-link__number {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.burger-menu__link.active > .border {
  display: block;
  margin-right: 20px;
  height: 22px;
  border: 2px solid #41F6D7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.block15 {
  background: #F2F2F2;
  height: 100%;
}

.swiper {
  overflow: hidden;
  width: 100%;
  margin-left: 16px !important;
  height: 120px;
}

.swiper-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 240px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background-color: #FFFFFF;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-height: 72px;
}

.card__logo {
  margin-left: 16px;
}

.card__go {
  position: absolute;
  right: 16px;
  margin: 20px 0px;
}

.block15__title {
  padding: 16px;
  height: 48px;
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  margin-bottom: 16px;
}

.block15__shadow {
  height: 81px;
  position: absolute;
  width: 100px;
  right: 0%;
  top: 0px;
  z-index: 100;
  background: -webkit-gradient(linear, right top, left top, color-stop(16.84%, #F8F8F8), to(rgba(248, 248, 248, 0.01)));
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.01) 100%);
}

.swiper-pagination .swiper-pagination {
  position: absolute;
  z-index: 10;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #DDDDDD;
  margin-right: 12px;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #B5B6BC;
  opacity: 1;
}

.show-more {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 39px 16px;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

.show-less__icon {
  margin-right: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.show-more__icon {
  margin-right: 16px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.last-card__img {
  margin-top: -11px;
}

.hide-card {
  display: none;
}

.card.is-visiable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
}

.card .hide-card {
  display: none;
}

.last-card.card {
  height: 72px;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .card {
    width: 100%;
    margin-right: 16px;
  }
  .swiper-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .show-more {
    display: none;
  }
  .last-card {
    display: none;
  }
}

@media (min-width: 768px) {
  .card {
    height: 72px !important;
  }
  .hidden-card {
    display: none;
  }
  .show-more__button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #1B1C21;
    font-size: 16px;
    font-weight: 700;
  }
  .swiper-wrapper {
    display: -ms-grid !important;
    display: grid !important;
    gap: 8px;
    -ms-grid-columns: 240px 240px 240px;
        grid-template-columns: 240px 240px 240px;
  }
  .shadow {
    display: none;
  }
  .swiper {
    width: 90%;
    height: 240px;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }
  .show-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1150px) {
  .swiper-wrapper {
    -ms-grid-columns: 240px 240px 240px 240px;
        grid-template-columns: 240px 240px 240px 240px;
  }
}
/*# sourceMappingURL=style.css.map */